{{ if .IsNamedParams }}
<p>
<video src="{{.Get "src" }}"
       preload="{{ .Get "preload" }}"
       controls="yes"
       style="top: 0; left: 0; width: 100%; height: 100%; border:0;" />
  {{ if (.Get "caption") }}
<center>{{.Get "caption" }}</center>
  {{ end }}
</p>
{{ else }}
<p>
<video src="{{.Get 0}}"
       preload="{{ .Get "preload" }}"
       controls="yes"
       style="top: 0; left: 0; width: 100%; height: 100%; border:0;" />
  {{ if (.Get "caption") }}
<center>{{.Get "caption" }}</center>
  {{ end }}
</p>
{{ end }}
